body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    padding: 20px;
}

.block {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #333;
    background: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

.inner-block {
    margin: 15px auto;
    padding: 15px;
    border: 2px solid #555;
    text-align: center;
    border-radius: 10px;
}

.lvl1 {
    background: #d6eaff;
}

.lvl2 {
    background: #ffdcdc;
}

.lvl3 {
    background: #e8ffc9;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.small-block {
    width: 120px;
    height: 120px;
    background: #cfd7ff;
    border: 2px solid #333;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}
